* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.information-container {
    border-radius: 7px;
    background: #242222;
}

.w-10 {
    width: 10%;
}

.bg-darkdark{
    background-color: #1A1A1A;
}