* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.information-container {
    border-radius: 7px;
    background: #242222;
}

.w-95 {
    width: 95%;
}

.pb-10 {
    padding-bottom: 100px;
}

.param-box {
    background-color: #1C1B1B;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1vh 1vh 0 rgba(0,0,0,0.25);
}

.btn.custom-btn {
    background-color: #286B3B;
    color: white;
    border: none;   
}

.btn.custom-btn:hover {
    background-color: #1e572e;
    color: white;
}

.btn.custom-btn-width {
    width: 100%;
}

.custom-file input[type=file] {
    visibility: hidden;
    width: 100%;
    cursor: pointer;
}


.custom-file-label {
    width: 100%;
    height: 70%;
    padding: 7px;
    background-color: rgba(198, 182, 182, 0.1);
    border-radius: 7px;
}
