* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.information-container {
    border-radius: 7px;
    background: #242222;
}

.tournaments-container .btn-custom {
    background: #165829;
    color: white;
    border: none;
}

.tournaments-container .btn-custom:hover {
    background: #0e3a1b;
    color: white;
}


.bg-darker {
    background: #1A1A1A;
}

.custom-btn-width {
    width: 95vh;
}

.modal .btn.custom-btn {
    background-color: #198754;
    color: white;
    border: none;   
}

.modal .btn.custom-btn:hover {
    background-color: #086138;
    color: white;
}

.info-box {
    background-color: #1C1B1B;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1vh 1vh 0 rgba(0,0,0,0.25);
}

.btn-custom-w {
    width: 100%;
}

.custom-btn {
    background-color: #198754;
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: #086138;
    color: white;
}